#patientOrderHistory{
  width:950px;
}

.patientInfoLink{
  font-size:13px;
  color: #1F2025;
}


.patientInfoLink a{
  text-decoration:none;
  color:#1e88e5;
  font-weight:400;
}

#patientOrderHistory a:hover, .patientInfoLink a:hover {
  text-decoration: underline;
}

.emptyPatientHist{
  text-align:center;
}