

.pageSection {
  padding: 20px;
}

/*#table_filters{
  position: absolute;
  top: 95px;
  left: 500px;
  z-index: 99;
}*/

.horizontalFlex select{
  margin-left: 8px;
  margin-right: 20px;
  height: 25px;
  background-color: #ffffff;
}

#table_filters {
	margin-left: 15px;
}

.table_filters {
  margin-left: 15px;
}

.maxWidth {
  max-width: 150px;
}