@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900|Roboto:300,400,500,700,900|Montserrat:300,400,500,700,900&display=swap');
/*REPORT BODY*/
#reportBody{
  border: 1px solid #000000;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: normal;
  padding: 30px;
}
.letterSize {
    width: 800px;
}

/*REPORT HEAD*/

.headerSection {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
}
.reportTitle {
  font-size: 22px;
  font-weight: 700;

}
.primarySiteName{
  font-size:16px;
  text-transform: uppercase;
}
.secondarySiteName {
  font-size: 16px;
  text-transform: uppercase;
}
.departmentName{
  font-size: 16px;
  text-transform: uppercase;
}
.locationName{
  font-size: 22px;
  font-weight: 700;
}
.primaryAddressBar span{
  margin-right: 10px;
}
/*METADATA*/
.metaDataSection{
  margin-top:10px;
  margin: 0 auto;
  height: 100px;
  width: 600px;
  vertical-align: middle;
  text-align: center;
}
.metaDataDiv{
  float: left;
  text-align: left;
  width: 50%;
}
.metaDataDiv2{
  float: right;
  text-align: left;
  flex-direction: column;
}
.metaDataLabel {
  font-weight:700;
  font-size: 11px;
}
.metaDataValue {
   font-weight: normal;
   font-size: 11px;
}
/*MODIFICATIONS */
.addendReport,
 {
   width: 95%;
   margin: 0 auto;
}
.correctedReport,
.amendedReport,
.canceledReport,
.rejectedReport {
   width: 95%;
   margin: 0 auto;
   margin-top: 20px;
   margin-left: 50px;
}

/*RESULTS*/
.reportResults {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-left: 50px;

}
.resultTables{
  display: inline-block;
  width: 100%;
  margin-top:10px;
  margin-bottom: 10px;
}
.resultTableContainer{
    display: inline-block;
    vertical-align: top;
}
.resultTable {
  border: 1px solid #6C6D70;
  border-collapse: collapse;
  margin-right: 20px;
}
.resultTable th {
  background-color: #6C6D70;
  padding: 5px;
  color: #fff;
  font-weight: 400;
}
.resultTable td {
  padding: 5px;
}
.resultTable tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.overallReportInterpretation {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.methodology{
  margin-left: 50px;
  margin-right: 50px;
  margin-top:20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
hr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.signatureArea {
  width: 80%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}
#reportFooter {
  margin-top: 20px;
  margin-bottom: 20px;
}
.signatureName{
  font-size: 14px;
  font-weight: 700;
  float:left;
}
.signatureImage {
    display: inline;
    min-width: 80px;
    max-width: 180px;
    min-height: 50px;
    max-height: 80px;
}
#signatureReportDate {
  float: right;
}
.pageNumbers{
  float: right;
}
.hide {
  display: none;
}
.wordingValue {
  font-size: 11px;
  display: block;
  margin-left: 10px;
  padding: 10px;
  text-align:justify;
}
.referencesHeader,
 .amendedHeader,
 .addendedHeader,
 .correctedHeader,
 .canceledHeader,
 .rejectedHeader {
  width: inherit;
  padding: 10px 10px 10px 0px;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}
.sectionHeader{
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}
