@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900|Roboto:300,400,500,700,900|Montserrat:300,400,500,700,900&display=swap');
/*REPORT BODY*/
#reportBody{
  border: 1px solid #000000;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: normal;
  padding: 10px;
}
.letterSize {
    width: 800px;
}
/*PAGE HEADER*/
#reportPageHeader{
  display: inline-block;
  text-align: center;
}
#reportHeader {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}
.pageHeaderData {
  display: inline-block;
  text-align: center;
  padding-left: 10px;
}
.pageHeaderLabel {
  font-size: 8px;
  font-weight: bold;
}
.pageHeaderValue {
    font-size: 8px;
}
/*REPORT HEAD*/
#topHeader{
  margin: 0 auto;
  width: 100%;
  max-height: 95px;
  text-align: center;
  vertical-align: middle;
}
#primarySiteBlock{
  display: inline-block;
  font-size: 12px;
  text-align: right;
  width: 280px;
  height:85px;
}
#primarySiteId {
  font-weight: bold;
  text-transform: uppercase;
}
#primaryLogo{
  display: inline-block;
  width: 180px;
}
#primarySiteLogo {
    width:180px;
    height: 80px;
}
#primarySiteIdValue {
  white-space: nowrap;
}
#primarySiteAddressValue {
  white-space: nowrap;
}
#titleBlock{
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  height: 95px;
  width: 330px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.headerLabel {
  font-weight: bold;
}
.headerValue {
  font-size: 12px;
}
#reportDescription{
  margin-top: 10px;
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 20px;
  color: #000000;
  font-size: 10px;
  width: 95%;
}
/*METADATA*/
#reportMetaData {
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.metaDataBlock {
  display: inline;
}
.metaDataSection {
  width: 95%;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 3px;
  display: inline-block;
}
.metaLabelHeader{
  display: inline-block;
  max-width: 110px;
  min-width: 110px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  border-right: 1px solid #cdcdcd;
  cursor: pointer;
  margin-right: 10px;
}
.metaDataData {
  display: inline-block;
  vertical-align: middle;
  width:600px;
}
.dataBlock {
  display: inline-block;
}
.metaLabel {
  font-weight:700;
  font-size: 11px;
}
.metaValue {
   font-weight: normal;
   font-size: 11px;
   margin-right: 10px;
}
.specimenDataContainer {
  display: table;
}
.specimenDataContainer div{
  display: table-cell;
  vertical-align: middle;
}
/*RESULTS*/
#reportInterpretations {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}
#overallInterpretationHeader {
  width: inherit;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}

#overallReportResult ,
#overallReportInterpretation,
#overallWording {
  margin-left: 10px;
  display: flex;
  padding: 10px;
  font-size: 12px;
}
 .overallResultLabel,
 .reportOverallInterpretationLabel,
 .reportOverallWordingLabel,
 .panelInterpretationHeader ,
 .testInterpretationHeader,
 .specimenHeader {
  font-weight: 500;
  text-transform: uppercase;
}
.interpretationLabel {
  font-weight:500;
}

.resultHeader {
  margin-right: 40px;
}

.reportInterpretationPanel {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  display: block;
  padding: 10px;
  font-size: 12px;
  border: 0.5px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
}
.testResuts {
  display: block;
  margin: 3px 0px 10px 10px;
}
.resultImages{
  display: inline-block;
  vertical-align: middle;
  width:100%;
  margin-bottom: 10px;
}
.imageContainer {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  page-break-inside: auto;
}

/*.defaultReportImg {
   exatct px here only no min/max/or pecentages
   width px only
   heigth px only
}*/

/*WORDING*/
.wordingSection {
  display: block;
  padding: 10px;
  width:95%;
  margin: 0 auto;
}
.wordingLabel {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}
.wordingValue {
  font-size: 11px;
  display: block;
  margin-left: 10px;
  padding: 10px;
  text-align:justify;
}

/*REFERENCES*/
#references,
.addendReport,
 {
   width: 95%;
   margin: 0 auto;
}
.correctedReport,
.amendedReport,
.canceledReport,
.rejectedReport {
   width: 95%;
   margin: 0 auto;
   margin-top: 30px;
}

.referencesHeader,
 .amendedHeader,
 .addendedHeader,
 .correctedHeader,
 .canceledHeader,
 .rejectedHeader {
  width: inherit;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}
.reportReferencesData {
  font-size: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.referenceData {
  margin-left: 10px;
  padding: 10px;
}
.referenceData span {
  margin-bottom: 5px;
}
/*SIGNATURE*/
.signatureArea {
  width: 80%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}
#reportFooter {
  margin-top: 10px;
  margin-bottom: 10px;
}
.signatureName{
  font-size: 14px;
  font-weight: 700;
  float:left;
}
.signatureImage {
    display: inline;
    min-width: 80px;
    max-width: 180px;
    min-height: 50px;
    max-height: 80px;
}
#signatureReportDate {
  float: right;
}
/*FOOTER*/
.reportFooter{
  margin-top: 10px;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}
.reportFooter div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}
.pageFooterLabel {
  font-size: 8px;
  font-weight: bold;
}
.pageFooterValue {
  font-size: 8px;
}
/*UTILITIES*/
.hide {
  display: none;
}

