@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900|Roboto:300,400,500,700,900|Montserrat:300,400,500,700,900&display=swap');
/*REPORT BODY*/
#reportBody{
  border: 1px solid #000000;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: normal;
  padding: 10px;
}
.letterSize {
    width: 900px;
}
/*PAGE HEADER*/
#reportPageHeader{
  display: flex;
  align-content: flex-start;
  justify-content: center;
  margin-bottom: 15px;
}
.pageHeaderData {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
}
#headerPageNo{
  font-weight: bold;
}
.pageHeaderLabel {
  font-size: 8px;
  font-weight: bold;
}
.pageHeaderValue {
    font-size: 8px;
}
/*REPORT HEAD*/
#reportHead {
  display: flex;
  align-content: flex-start;
  justify-content: center;
}
#primarySiteBlock{
 /* min-width: 20%;*/
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  font-size: 12px;
  vertical-align: center;
  text-align: left;
}
#primarySiteId {
  font-weight: bold;
  text-transform: uppercase;
}
#primarySiteLogo {
    position: relative;
    width: 80px;
    height: 80px;
}
#primarySiteIdValue {
  white-space: nowrap;
}
#primarySiteAddressValue {
  white-space: nowrap;
}
#secondarySiteBlock{
  /*min-width: 20%;*/
  font-size: 12px;
  vertical-align: center;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}
#secondarySiteLogo {
    position: relative;
    width: 80px;
    height: 80px;
}
#secondarySiteId {
  font-weight: bold;
  text-transform: uppercase;
}
#secondarySiteIdValue {
  white-space: nowrap;
}
#secondarySiteAddressValue {
  white-space: nowrap;
}
#titleBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  align-content: stretch;
  min-width: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.headerLabel {
  font-weight: bold;
}
.headerValue {
  font-size: 12px;
}
#reportDescriptionDiv{
  margin-top: 10px;
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 20px;
  color: #000000;
  font-size: 10px;
  display: flex;
  align-content: flex-start;
  justify-content: center;
}
/*METADATA*/
#reportMetaData {
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.metaDataSection {
  width: 95%;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 3px;
  display: flex;
  align-content: flex-start;
}
.metaLabelHeader{
  max-width: 110px;
  min-width: 110px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  border-right: 1px solid #cdcdcd;
  cursor: pointer;
  margin-right: 10px;
}
.metaDataData {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  align-content: space-evenly;
}
.metaLabel {
  font-weight:700;
  font-size: 11px;
}
.metaValue {
   font-weight: normal;
   font-size: 11px;
   margin-right: 10px;
}
/*RESULTS*/
#reportInterpretations {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}
#overallInterpretationHeader {
  width: inherit;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}
/*#reportOverallInterpretations {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  font-size: 12px;
}*/
.overallReportResultImages{

}
.overallReportResultImage{

}
#overallReportResult ,
#overallReportInterpretation {
  margin-left: 10px;
  display: flex;
  padding: 10px;
  font-size: 12px;
}
.overallResultLabel,
.reportOverallInterpretationLabel,
 .panelInterpretationHeader {
  font-weight: bold;
}
.interpretationLabel {
  font-weight: 600;
}
.reportInterpretationPanel {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  font-size: 12px;
}
.panelReportWording {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}
.testReportWording {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}
.methodReportWording {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}
.wordingLabel{
  font-weight: 600;
  font-size: 12px;
}
.panelInterpretationOther {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
}
/*REFERENCES*/
#references {
   width: 95%;
   margin: 0 auto;
}
.referencesHeader{
  width: inherit;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}
.reportReferencesData {
  font-size: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.referenceData {
  margin-left: 10px;
  padding: 10px;
}
.referenceData span {
  margin-bottom: 5px;
}
#electronicSignature {
  font-size: 11px;
  padding: 10px;
  margin-left: 10px;
}
#signatureLabel{
  font-weight: 600;
}
.reportFooter{
  margin-top: 10px;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}
.reportFooter div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}
.pageFooterLabel {
  font-size: 8px;
  font-weight: bold;
}
.pageFooterValue {
  font-size: 8px;
}
.hide {
  display: none;
}

/*** LAYOUT CLASSES FOR FUTURE USE****/
.horizontalFlex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
 }
 .horizontalFlex-spacearound {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
 }
 .horizontalFlex-spacearound-centered {
  display: flex;
  align-content: center;
  justify-content: space-around;
 }
  .horizontalFlex-flexend {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
 }
  .horizontalFlex-center {
  display: flex;
  align-content: flex-start;
  justify-content: center;
 }
  .horizontalFlex-spacebetween {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
 }
  .horizontalFlex-spaceevenly {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
 }
 .horizontalFlex-leftpadded {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
 }
 .verticalFlex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
 }
  .verticalFlex-flexEnd{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
 }
 .verticalFlex-stretch {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    align-content: stretch;
 }
 .verticalFlex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    align-content: stretch;
 }
.noPadding{
    padding: 0px;
}
.pageSection{
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  width: 100%;
}
.sectionTitle{
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
}

.sectionContent {
  padding: 15px;
}