@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900|Roboto:300,400,500,700,900|Montserrat:300,400,500,700,900&display=swap');
/*REPORT BODY*/
#reportBody{
  border: 1px solid #000000;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: normal;
  padding: 30px;

}
.letterSize {
    width: 800px;
}

/*REPORT HEAD*/
.headerSection {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}
.reportTitle {
  font-size: 22px;
  font-weight: 700;

}
.primarySiteName{
  font-size: 20px;
  text-transform: uppercase;
}
.secondarySiteName {
  font-size: 20px;
  text-transform: uppercase;
}
.primaryAddressBar span{
  margin-right: 10px;
}
/*METADATA*/
.metaDataSection{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top:10px;
}
.metaDataDiv{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.metaDataLabel {
  font-weight:700;
  font-size: 11px;
}
.metaDataValue {
   font-weight: normal;
   font-size: 11px;
}
/*RESULTS*/
.reportResults {
  margin-left: 50px;
  margin-top:20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.resultTables{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top:10px;
  margin-bottom: 10px;
}
.resultTable {
  border: 1px solid #6C6D70;
  border-collapse: collapse;
  margin-right: 20px;
}
.resultTable th {
  background-color: #6C6D70;
  padding: 5px;
  color: #fff;
  font-weight: 400;
}
.resultTable td {
  padding: 5px;
}
.resultTable tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.overallReportInterpretation {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.methodology{
  margin-left: 50px;
  margin-right: 50px;
  margin-top:20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
hr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.signatureArea {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
#reportFooter {
  margin-top: 20px;
}
.signatureName{
  font-size: 12px;
  font-weight: 700;
}
.signatureImage {
    min-width: 100px
    max-width: 200px;
    min-height: 50px;
    max-height: 100px;
}

.hide {
  display: none;
}



/*** AVAILABLE LAYOUT CLASSES ****/
.horizontalFlex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
 }
 .horizontalFlex-spacearound {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
 }
 .horizontalFlex-spacearound-centered {
  display: flex;
  align-content: center;
  justify-content: space-around;
 }
  .horizontalFlex-flexend {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
 }
  .horizontalFlex-center {
  display: flex;
  align-content: flex-start;
  justify-content: center;
 }
  .horizontalFlex-spacebetween {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
 }
  .horizontalFlex-spaceevenly {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
 }
 .horizontalFlex-leftpadded {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
 }
 .verticalFlex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
 }
  .verticalFlex-flexEnd{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
 }
 .verticalFlex-stretch {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    align-content: stretch;
 }
 .verticalFlex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    align-content: stretch;
 }
.noPadding{
    padding: 0px;
}
.pageSection{
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  width: 100%;
}
.sectionHeader{
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}
.sectionTitle{
  padding: 10px
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #2b2b2b;
  text-transform: uppercase;
  cursor: pointer;
}

.sectionContent {
  padding: 15px;
}