input[type=text]{
     width: 200px;
     height: 36px;
     border-radius: 10px;
     border: 1px solid #B5B5B5;
     margin-bottom: 10px;
     padding-left: 15px;
     font-family: 'Roboto', sans-serif;
 }

label {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    /*font-weight: normal;*/
    color: #2b2b2b;
    margin-left: 12px;
    background-color: #ffffff;
    margin-bottom: -5px;
    z-index: 100;
    padding: 0px 5px 0px 5px;
  }

  #fancyTextPanel1 {
    width:350px;
  }

  #refBox {
    width:700px;
    min-height:100px;
  }
  #refDisplayArea {
    margin-top: 8px;
  }
  #references {
     height:300px;
     width:650px;
  }