
table.patientInfo {
  font-family:arial;
    cellspacing:0px;
    border-collapse:collapse;
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
  border:none;

}
table.references {
  font-size:9px
}

.main_report {
  border:0px solid black;
  max-width: 940px;
  float:left;
  padding-top: 40px;

}
.header_info caption {
  text-align: left;
  font-size: 14px !important;
}
.header_info > table {
  width: 100%;
}
.header_info > table > tbody > tr > td {
  width: 33%;
  vertical-align: top;
}
.header_info > table > tbody > tr > td.groupLabel, .header_info > table > tbody > tr > td.label {
  width: 0;
}
.report_spacer {
  border:0px solid #41434f;
  width:100px;
  height:20px;
}
.reporttable{
  border-collapse:collapse;
  border: 1px solid black;
  font-family:arial;
  font-size:9pt;
}

.report_header {
  border-bottom:3px solid #41434f;
  border-color: #2ECCFA;
  float:left;
  width:100%;
  align:center;
}

.report_section {
  border:0px solid #41434f;
  width: 100%;
  float:left;
}
.report_section_header {
  font-size:10pt;
  text-align:left;
  font-weight:bold;

}

td.reporttable {
  border: 1px solid black;
  padding: 2px;
}

td.reporttablehead {
  /*font-weight:700;*/
  border: 1px solid black;
  padding: 2px;
}


.report_header {
  border-bottom:5px solid #41434f;
  float:left;
  width:100%;
  align:center;
}


.header_middle {
  border:0px solid red;
  margin-right:auto;
  margin-left:220px;
  width:400px;
  color:#2ECCFA;
  font-size:16pt;
}

.header_right {
  border:0px solid #41434f;
  width: 250px;
  float:right;
  font-size:9pt;
  vertical-align:top;
  margin-top:-35px;
}


table.patientInfo tbody td {
  color: #3D3D3D;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom:1px solid black;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left:0px;
  background-color: #FFF;
  vertical-align: top;
}
table.patientInfo tbody tr {

}
table.patientInfo td.patientInfoHeader {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom:1px solid black;
  border-right:none;
  color:black;
  font-size:15;
  padding-left: 4px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 1px;
  background-color: #FFF;
  vertical-align: top;

}
/* the div that holds the date picker calendar */
.dpDiv {
  }


/* the table (within the div) that holds the date picker calendar */
.dpTable {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  color: #202020;
  background-color: #ece9d8;
  border: 1px solid #AAAAAA;
  }


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
  }


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
  }


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
  }


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
  }


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
  border: 1px solid #ece9d8;
  }


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
  background-color: #CCCCCC;
  border: 1px solid #AAAAAA;
  }


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
  background-color: #aca998;
  border: 1px solid #888888;
  cursor: pointer;
  color: red;
  }


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
  }


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
  }


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
  }


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
  background-color: #BBBBBB;
  border: 1px solid #888888;
  color: white;
  }


/* additional style information for the text that indicates the month and year */
.dpTitleText {
  font-size: 12px;
  color: gray;
  font-weight: bold;
  }


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlight {
  color: 4060ff;
  font-weight: bold;
  }


/* the forward/backward buttons at the top */
.dpButton {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: gray;
  background: #d8e8ff;
  font-weight: bold;
  padding: 0px;
  }


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: gray;
  background: #d8e8ff;
  font-weight: bold;
  }
*********/
/* DNA Sample Tracking code */
.plateTd {
  background-color: #FFFFFF;
  height: 20px;
  width 40px;
  border: 1px solid #edecea;
  }

.plateTr {
  background-color: #edecea;
  height: 9px;
  width 40px;
  }

.plateURL {
  width 40px;
  }

.plateoncc {
  height:3px;
  }

.plateTh {
  background-color: #edecea;
  text-align:center;
  }

