
.number {
	width:50px;
}


/* Modal Styles */

.ui-dialog-titlebar {
  background-color: #ffffff;
  border: none;
  color: black;
}


.ui-dialog-title {
  border: none;
  color: #004e87;
  margin-top: 10px;
}

.ui-dialog .ui-dialog-titlebar {
  height: 40px;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  height: 30px;
  width: 30px;
  margin: -15px 1px 1px 1px;
  margin-right: 30px;
  border-color: #004e87;
}


#modal {
	height: 100%;
	width: 100%;
}

.errorMessage {
  color: red;
}


.confirmButtonsSections, .addEditNextStepButtonsSections {
  padding-top: 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.confirmButtons {
  padding: 10px;
}

#confrmationModalSection {
  position: absolute;
  border-top: 1px solid #cccccc;
  background-color: #FAFAFA;
  padding: 56px;
}

.ui-dialog .ui-dialog-content {
    padding: 0px;
}

.boldText {
  font-weight: bold;
}

#addEditNextStepModalSection {
  position: absolute;
  border-top: 1px solid #cccccc;
  background-color: #FAFAFA;
  padding: 56px;
	
}



/* End Modal Styles */


#routingConfigurationBatchTray {
	width: 100%;
}

label.onOwnLine {
	clear: both;
	width: 100%;


}


select.onOwnLine {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	
}

.nextStep {
	margin-left:10px;
	float: left;
	vertical-align: middle;
}

.nextStepSpan {
	float: left;    
    min-height: 14px;
	padding-left: 5px;
}

.nextStepErrors {
    display: list-item;
    text-align: -webkit-match-parent;
	clear: both;
    color: #f44336;
    margin: 2px 3px;
    padding: 5px;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;

}

